@model IEnumerable<PinguRock.Models.ProductosModel>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/estadoStock.css" rel="stylesheet" type="text/css" />

@functions {
    public string GetColorForEstadoStock(string estadoStock)
    {
        switch (estadoStock)
        {
            case "StockMinimo":
                return "red";
            case "StockBajo":
                return "orange";
            case "StockModerado":
                return "yellow";
            case "StockSuficiente":
                return "green";
            case "StockOptimo":
                return "blue";
            default:
                return "gray";
        }
    }
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoStock)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadProducto)
            </td>
            <td>
                <div class="estado-stock-bolita" style="background-color:@GetColorForEstadoStock(item.EstadoStock);"></div>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdProducto }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdProducto }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdProducto })
            </td>
        </tr>
    }

</table>
