@model IEnumerable<PinguRock.Models.ProductosModel>
<link href="~/Content/estadoStock.css" rel="stylesheet" type="text/css" />

@functions { public string GetColorForEstadoStock(string estadoStock)
            {
                switch (estadoStock)
                {
                    case "StockMinimo":
                        return "red";
                    case "StockBajo":
                        return "orange";
                    case "StockModerado":
                        return "yellow";
                    case "StockSuficiente":
                        return "green";
                    case "StockOptimo":
                        return "blue";
                    default:
                        return "gray";
                }
            } }
@{
    ViewBag.Title = "Productos";
}

<h2>Productos</h2>

<p>
    @Html.ActionLink("Agregar nuevo producto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Precio
        </th>
        <th>
            Nombre de proveedor
        </th>
        <th>
            Cantidad en inventario
        </th>
        <th>
            Estado de stock
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProveedorFK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadProducto)
            </td>  
            <td>
                <div class="estado-stock-bolita" style="background-color:@GetColorForEstadoStock(item.EstadoStock);"></div>
            </td> 
            <td>
                @Html.ActionLink("Editar información", "Edit", new { id = item.IdProducto }) 
            </td>
        </tr>
    }

</table>


