@model PinguRock.Models.ProveedorModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProveedorModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NitProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NitProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreProveedor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdProveedor }) |
    @Html.ActionLink("Volver", "Index")
</p>
