@model PinguRock.Models.ProductosListaModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductoModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreProveedorFK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreProveedorFK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new {id = Model.IdProductoLista }) |
    @Html.ActionLink("Volver", "Index")
</p>
